###############################################################################
# Confluence Data Center Cluster
###############################################################################

confluence.cluster=true

confluence.cluster.name={{ confluence_cluster_name }}

confluence.cluster.node.name={{ confluence_cluster_node_id }}

confluence.cluster.peers=

confluence.cluster.join.type=tcp_ip

confluence.cluster.interface=0.0.0.0

confluence.cluster.home={{ confluence_shared_home }}
